# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary files
*.tmp
# Environment files
.env
.env.*.local

# Build directories
build/
out/

# Dependency directories
.bower_components/
.jspm_packages/

# Miscellaneous
*.bak
*.orig
*.patch
*.seed
*.pid
*.pid.lock
*.cover
*.coverage
*.lcov
*.log.*